.center {
  text-align: center;
}

.lineleft {
  margin: auto;
  text-align: left;
  width: 15%;
}

ul {
  list-style-position: inside;
}

ol {
  list-style-position: inside;
}

span {
  font-style: italic;
}

h1  {
  font-size: 50px;
}
